@font-face {
  font-family: 'Exo';
  src: url('../Fonts/exo-bold.ttf') format('ttf'),
    url('../Fonts/exo-regular.ttf') format('ttf'),
    url('../Fonts/Exo-Thin.ttf') format('ttf');
}

body {
  background-color: #eee;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #333;
  font-weight: normal;
  line-height: 1, 3;
}

/* Mobile: 320px, Tablet: 767px, Desktop: 1024px */

main img {
  width: 100%;
  max-width: 620px;
  margin: 0 auto 0 auto;
  display: block;
}

.app-header {
  border-bottom: 2px solid #999;
  padding-bottom: 1em;
  padding-top: 1em;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
}

.iconstyle {
  color: #444;
  font-size: 128px;
  margin: 30px;
}

.color-red {
  color: red;
}

.app-logo {
  display: inline-block;
}

.app-navigation {
  float: right;
}

/* a:link, a:visited, a:active, a:hover */

.app-navigation a:link {
  text-decoration: none;
  color: #444;
  padding: 0.5em;
}

.app-navigation a:visited {
  color: #444;
}

.app-navigation a:active {
  color: greenyellow;
}

.app-navigation a:hover {
  color: red;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
  font-family: 'Exo';
}

h2 {
  font-family: 'Exo';
}

p {
  font-family: 'Open Sans', sans-serif;
}

form {
  background: linear-gradient(
    90deg,
    rgba(5, 116, 106, 1) 0%,
    rgba(14, 14, 14, 1) 100%
  );
}

form fieldset {
  border: 8px solid black;
  border-radius: 10px;
}

form fieldset legend {
  font-size: 24px;
  font-family: 'exo';
  color: white;
}

form label {
  display: block;
}

h5 {
  margin-bottom: 5px;
  font-size: 24px;
  font-family: 'Exo';
  color: white;
}

.input-text {
  border: 1px solid #444;
  padding: 0.2em;
  color: red;
  border-radius: 6px;
  border-color: #ed1c24;
  border-width: 2px;
  font-family: sans-serif;
  font-weight: bold;
  /* width: 50%; */
}

.input-text-area {
  border-radius: 6px;
  border-color: #ed1c24;
  border-width: 2px;
  font-family: sans-serif;
  font-weight: bold;
}

#submit {
  background-color: #0d0d0d;
  border-color: #ed1c24;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-width: 5px;
  border-radius: 0px 0px 40px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 131.25px;
  margin: 10px;
  border-style: solid;
}

#submit:hover {
  box-shadow: 0px 0px 10px 10px rgba(237, 28, 36, 0.2);
  padding: 5px 25px;
  width: 131.25px;
}
